<h2>Reviews for <%= @product.name %></h2>
<% @product_reviews.each do |review| %>
  <h3>Review <%= review.id %></h3>
<p>
  <b>Body:</b>
  <%= review.body %>
</p>

<p>
  <b>Rating:</b>
  <%= review.rating %>
</p>

<p>
  <b>Product:</b>
  <%= review.product_id %>
</p>
<% end %>

