<div class='onerow'>
    <br />
    <br />
  <div class="col10">
  <ul>
<% @products.each do |product| %>
    <div class='col3'>
      <h3><%= product.name %></h3>
      <h3><%= '$' + product.price.to_s %></h3>
      <%= link_to image_tag(product.image_url), product %>
      <%= link_to 'Edit', edit_product_path(product) %>
      <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
<% end %>
  </ul>
  </div>
  <div class="col2 last">
    <%= render 'products/shopping_cart'  %>
  </div>
</div>
