<h1>Listing products</h1>

<div class='onerow'>
<% @products.each do |product| %>
    <div class='col4'>
      <%= image_tag product.image_url %>

      <%= product.name %>
      <%= product.price %>
      <%= link_to 'Show', product %>
      <%= link_to 'Edit', edit_product_path(product) %>
  <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
<% end %>
</div>
<div class="onerow">
<%= link_to 'New Product', new_product_path %>
    <%= render 'products/shopping_cart'  %>
</div>
