    <h1><%= @product.name.upcase %></h1> 
    <br />
<p id="notice"><%= notice %></p>
<div class="onerow">
  <div class="col3">
      <b>Average Rating:</b>
    <%= @average %>
    </p>
    <p>
      <b>Price:</b>
      <%= number_to_currency(@product.price) %>
    </p>
    <p>
      <b>Description:</b>
      <%= @description %>
    </p>

    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>
  </div>
  <div class="col5">
    <%= image_tag @product.image_url %>
  </div>
  <div class="col4 last">
    <%= render 'products/shopping_cart'  %>
    <%= render 'products/cart_form' %>
    <%= render 'products/list'  %>
  </div>
