<p id="notice"><%= notice %></p>
<div class="onerow">
  <div class="col3">
    <p>
      <b>Name:</b>
      <%= @product.name %>
    </p>
    <p>
      <b>Average Rating:</b>
    <%= @average %>
    </p>
    <p>
      <b>Price:</b>
      <%= number_to_currency(@product.price) %>
    </p>
    <p>
      <b>Description:</b>
      <%= @product.description %>
    </p>

    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>
  </div>
  <div class="col7">
    <%= image_tag @product.image_url %>
  </div>
  </div>
  <div class="col2 last">
    <%= render 'products/shopping_cart'  %>
    <%= render 'products/cart_form' %>
  </div>
</div>
  <div class="row">
    <div class="col12 last">
    <%= render 'products/list'  %>
    </div>
  </div>


    
